.tabs {
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--light-bg-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

@media (min-width: 750px) {
  .navigation {
    flex-direction: initial;
  }
}

.list {
  display: flex;
  align-items: flex-end;
  background-color: var(--light-bg-color);
  padding: 0 var(--spacing-s);
  line-height: 1;
}

@media (min-width: 750px) {
  .list {
    overflow-x: auto;
  }
}

.content {
  padding: var(--spacing-m);
  background-color: #fff;
}

.configure {
  align-self: center;
  flex-shrink: 0;
  line-height: initial;
  padding: var(--spacing-s);
}

@media (min-width: 750px) {
  .configure {
    padding: 0;
  }
}

.resetButton {
  margin-right: var(--spacing-s);
}

.resetButton svg {
  fill: #fff;
}
