
.tabs {
    border: 1px solid #f0f0f0;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--border-color);
  }
  
  .tabs__tab-list {
    display: flex;
    line-height: 1;
    align-items: flex-end;
    color: var(--label-color);
    background-color:#f5f5f5 ;
    padding: 0em;
    margin: 0em;
  }
  
  .tabs__tab-configure {
    margin-left: auto;
    align-self: center;
    padding: .6em .8em;
    font-weight: 700;
    color: rgb(167, 75, 179);
    transition: .3s ease;
    font-size: 1em;
  }

  .tabs__tab-configure:hover,
  .tabs__tab-configure:focus {
    opacity: .8;
  }
  
  
  .tabs__tab-configure svg {
    fill: var(--accent-color);
    margin-right: .5em;
    width: 1em;
    margin-bottom: -.25em;
  }
  
  .tabs__tab-configure--active button {
    text-decoration: underline;
  }
  
  .tabs__tab-content {
    padding: 14px;
    background-color: #fff;
  }


/* //////////////// */
  /* reset button */


  .tabs__tab-reset {
    margin-left: auto;
    align-self: center;
    padding: .6em .8em;
    font-weight: 700;
    color: #fff;
    transition: .3s ease;
    font-size: 1em;
    background-color: #ff5e49;
    border-radius: .3em;
    margin:.3em .3em .3em .5em;
  }

  .tabs__tab-reset:hover,
  .tabs__tab-reset:focus {
    opacity: .8;
  }
  
  
  .tabs__tab-reset svg {
    fill: #fff;
    margin-right: .5em;
    width: .8em;
    margin-bottom: -.2em;
  }

  .configure-section {
    margin-left: auto;
    align-self: center;
  }

.configure-section button:nth-of-type(2){
  margin: .3em;
}

.configure-section button:nth-of-type(2) svg {
  fill: #fff;
}

.configure-section button:nth-of-type(1) svg {
  fill: var(--accent-color);
}
