.fieldset {
  padding: var(--spacing-l);
  text-align: center;
  border: 1px dashed var(--border-color);
  box-sizing: border-box;
}

.button {
  margin-top: var(--spacing-s);
}

.iframe {
  width: 100%;
  height: 175px;
}
